html, body {
  margin: 0;
  padding: 0;
}

pre,code { font-zire:12pt; font-family: monospace; background:#191517;}

a {
  color: #bbb;
}

body {
  font-family: arial, helvetica, sans-serif;
  color: #999 ;
  background: #000;
  font-size: 11pt;
}

img {
  border: 0 none;
}

.head {
  padding: 0;
  height: 20px;
  margin: 10px;
  border-bottom: 1px solid #c4c5c5;
}

.topic .image {
  min-height: 200px;
}

.image {
  margin-right: 20px;
  margin-left: 10px;
}

.image {
  float: left;
  opacity: 0.5;
}
.image:hover {
  opacity: 1.0;
}

.noimage {
  float: left;
  width: 30px;
}

.thread {
  clear: both;
  min-height: 200px;
  padding: 10px;
  border-top: 1px solid #c4c5c5;
  margin: 10px;
}

.topic img {
  width: 250px;
}

.post img {
  width: 200px;
}

.post {
  color: #999;
}

span.name {
  font-weight: bold;
  color: #888;
}

span.subject {
  font-weight: bold;
  color: #fff;
}

.post {
  display: inline-block;
  /*background: #e8e8e8 url('corner.jpg') no-repeat bottom left;*/
  background: #222;
  background-position: bottom left;
  padding: 5px;
  margin: 2px;
  border: 0 none;
  *border-radius: 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-bottom: 1px solid #444;
  border-right: 1px solid #666;
  min-width: 500px;
}

.topic {
  padding-top: 20px;
}

input.delete {
  margin: 4px;
}

.posttext {
  display: inline-block;
  margin: 10px;
  max-width: 1000px;

}

.post .postheader {
  background: #222;
}

.imageinfo {
  margin-left: 22px;
}

.break {
  font-size: 0px;
  height: 1px;
}

.topic .postheader {
  display: table-row;
}

.postheader {
  margin-bottom: 4px;
}

.morereplies {
  display: inline-block;
  font-style: italic;
  font: 8pt times new roman italic;
  margin-left: 20px;
}

a.reply {
  text-decoration: none;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
/*  background: url(corner.jpg) left no-repeat; */
  border: 1px solid #aed4e1;
  color: #35464b;
  padding: 3px 8px 3px 8px;
  margin-left: 8px;
  font-weight: bold;
}

a.reply:hover {
  color: gray;
  /*background: url(corner.jpg) bottom left;*/
  border: 2px solid #e8e8e8;
}

table.reply {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 4px;
  border: 1px solid black;
}

table.reply td {
  text-align: left;
/*  background: #fff url('thread.jpg') no-repeat top right; */
  padding: 7px;
  margin: 2px;
  border: 0 none;
  border-radius: 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #444;
  border-right: 1px solid #999;
}

span.name a {
  color: #aaa;
}

table.reply input {
  width: 300px;
}

table.reply textarea {
  width: 400px;
}

table.reply input.submit {
  width: 90px;
  height: 25px;
}

table.reply input.subject {
  margin-right: 10px;
  width: 320px;
}



body {padding: 0;margin: 0;font-family: sans-serif;overflow-x: hidden;}
#topBar {background-color: #333;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),0 -1px 0 rgba(0, 0, 0, 0.1) inset;padding: 0.5em;font-size: large;text-align: center;font-weight: 600;}
#topBar a {text-decoration: none;}
#topBar a:link,
#topBar a:visited {color: #BBB;}
#topBar a:hover,
#topBar a:active {color: #92ccef;}
#topBar > ul {margin: 0 0 0 7em;padding: 0;display: inline-block;}
#topBar > ul > li { display: inline-block;margin: 0 0 0 0.5em;padding: 0;}
#topBar ul.services-links > li a {color: #444;}
#topBar ul.services-links > li a:hover,
#topBar ul.services-links > li a:active {color: #92ccef;}
#topBar ul.services-links > li .service-link {color: #CCC;display: inline-block;padding: 0 0.2em 0 0.2em;}
#topBar ul.services-links > li a:hover .service-link,
#topBar ul.services-links > li a:active .service-link {color: #92ccef;}
#topBar ul.services-links > li a:hover.current-link,
#topBar ul.services-links > li a:active.current-link,
#topBar ul.services-links > li .current-link .service-link,
#topBar ul.services-links > li a:hover.current-link .service-link,
#topBar ul.board-links > li a:active.current-link .service-link {color: #FFF;text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF;}

/*.redsmall {
  font-size: 10px;
  color: red;
}*/
